/* ---------------------------------------------------------
    * Name: Homzen
    * Version: 1.0.0
    * Author: Themesflat
    * Author URI: http://themesflat.com 

	* Abstracts variable

    * Reset css styles

    * Components
        * header
        * footer
        * tabs
        * slider banner
        * button
        * range slider
        * form
        * nice select
        * carousel
        * avatar
        * off canvas
        * hover
        * preloader

    * section

    * dashboard

    * Responsive
 ------------------------------------------------------------------------------ */
/*--------- Abstracts variable ---------- */
/*---------- Reset css styles ----------- */
@import url(./bootstrap-select.min.css);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Elements
-------------------------------------------------------------- */
html {
  margin-right: 0 !important;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Albert Sans", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
  transform: scale(1);
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row > * {
  padding-left: 15px;
  padding-right: 15px;
}

ul,
li {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.container {
  max-width: 1540px;
}

.container {
  width: 100%;
  margin: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.container-full {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}

textarea,
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color] {
  font-family: "Albert Sans", sans-serif;
  border: 1px solid rgb(235, 235, 235);
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  line-height: 24px;
  border-radius: 3px;
  padding: 13px 18px;
  width: 100%;
  background: #ffffff;
  color: #909090;
  font-weight: 400;
}
textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=time]:focus,
input[type=week]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=color]:focus {
  border-color: rgb(235, 235, 235);
}

textarea::placeholder,
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=datetime]::placeholder,
input[type=datetime-local]::placeholder,
input[type=date]::placeholder,
input[type=month]::placeholder,
input[type=time]::placeholder,
input[type=week]::placeholder,
input[type=number]::placeholder,
input[type=email]::placeholder,
input[type=url]::placeholder,
input[type=search]::placeholder,
input[type=tel]::placeholder,
input[type=color]::placeholder {
  color: #909090;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

textarea {
  height: 112px;
  resize: none;
}

/* Placeholder color */
::-webkit-input-placeholder {
  color: #909090;
}

:-moz-placeholder {
  color: #909090;
}

::-moz-placeholder {
  color: #909090;
  opacity: 1;
}

/* Since FF19 lowers the opacity of the placeholder by default */
:-ms-input-placeholder {
  color: #909090;
}

/* Typography
-------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Albert Sans", sans-serif;
  text-rendering: optimizeLegibility;
  color: rgb(0, 0, 0);
  font-weight: 400;
}

h1 {
  font-size: 80px;
  line-height: 96px;
}

h2 {
  font-size: 68px;
  line-height: 81.6px;
}

h3 {
  font-size: 56px;
  line-height: 67.2px;
}

h4 {
  font-size: 42px;
  line-height: 50.4px;
}

h5 {
  font-size: 28px;
  line-height: 33.6px;
}

h6 {
  font-size: 20px;
  line-height: 30px;
}

b,
strong {
  font-weight: bolder;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-22 {
  font-size: 22px !important;
}

.fw-4 {
  font-weight: 400 !important;
}

.fw-5 {
  font-weight: 500 !important;
}

.fw-6 {
  font-weight: 600 !important;
}

.fw-7 {
  font-weight: 700 !important;
}

.bg_white {
  background-color: #ffffff !important;
}

.bg_dark {
  background-color: rgb(0, 0, 0);
}

.bg_line {
  background-color: rgb(235, 235, 235);
}

.bg_primary {
  background-color: #db1215;
}

.bg_orange {
  background-color: #f47249;
}

.bg_orange-2 {
  background-color: #c38361;
}

.bg_orange-3 {
  background-color: #ffa500;
}

.bg_orange-4 {
  background-color: #ff7b54;
}

.bg_violet {
  background-color: #7900f2;
}

.bg_blue {
  background-color: #2c3bc5;
}

.bg_blue-2 {
  background-color: #a8bcd4;
}

.bg_blue-3 {
  background-color: #8054ff;
}

.bg_blue-4 {
  background-color: #f5f7fc;
}

.bg_dark-blue {
  background-color: #00008b;
}

.bg_light-blue {
  background-color: #add8e6;
}

.bg_beige {
  background-color: #c8ad7f;
}

.bg_dark-beige {
  background-color: #9f8c76;
}

.bg_brown {
  background-color: #977945;
}

.bg_light-brown {
  background-color: #c55252;
}

.bg_purple {
  background-color: #d966d9;
}

.bg_light-green {
  background-color: #caffd6;
}

.bg_light-green-2 {
  background-color: #c9f4aa;
}

.bg_dark-green {
  background-color: #006400;
}

.bg_pink {
  background-color: #fcc6de;
}

.bg_light-pink {
  background-color: #ffb6c1;
}

.bg_light-grey {
  background-color: #d3d3d3;
}

.bg_light-grey-2 {
  background-color: #c4b3b3 !important;
}

.bg_grey {
  background-color: #ccc;
}

.bg_grey-2 {
  background-color: #fbf7f0;
}

.bg_grey-3 {
  background-color: #faf8f2;
}

.bg_grey-4 {
  background-color: #fcf8f3;
}

.bg_grey-5 {
  background-color: #f6f6f6;
}

.bg_grey-6 {
  background-color: #f9f6ef;
}

.bg_grey-7 {
  background-color: #f5f5f5;
}

.bg_grey-8 {
  background-color: #f2f2f2;
}

.bg_dark-grey {
  background-color: #808080;
}

.bg_cream {
  background-color: #fffdd0;
}

.bg_yellow {
  background-color: #dcdb79;
}

.bg_yellow-2 {
  background-color: #fcffb2;
}

.bg_light-yellow {
  background-color: #ffffe0;
}

.bg_taupe {
  background-color: #483c32;
}

.bg_green-1 {
  background-color: #dcf9e2;
}

.bg-gradient-1 {
  background: linear-gradient(102deg, rgb(159, 111, 189) 8%, rgb(168, 125, 196) 47%, rgb(180, 140, 203) 83%);
}

.text_black {
  color: rgb(0, 0, 0);
}

.text_black-2 {
  color: rgb(84, 84, 84);
}

.text_primary {
  color: #db1215;
}

.text-paragraph {
  color: #868686;
}

.text-sale {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5490196078);
}

.text_white {
  color: #ffffff;
}

.text-1 {
  font-size: 18px;
  line-height: 21.6px;
}

.text-2 {
  font-size: 16px;
  line-height: 24px;
}

.text-3 {
  font-size: 16px;
  line-height: 19.2px;
}

a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  color: rgb(0, 0, 0);
}
a:focus, a:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  outline: 0;
}

label {
  font-weight: 600;
}

.link {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.link:hover {
  color: #db1215 !important;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.gap-4 {
  gap: 4px !important;
}

.gap-5 {
  gap: 5px !important;
}

.gap-6 {
  gap: 6px !important;
}

.gap-8 {
  gap: 8px !important;
}

.gap-10 {
  gap: 10px !important;
}

.gap-12 {
  gap: 12px !important;
}

.gap-14 {
  gap: 14px !important;
}

.gap-15 {
  gap: 15px;
}

.gap-16 {
  gap: 16px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.border-line {
  border: 1px solid rgb(235, 235, 235);
}

.border-line-black {
  border: 1px solid rgb(0, 0, 0);
}

.line {
  border-bottom: 1px solid rgb(235, 235, 235);
}

.no-line {
  border: 0 !important;
}

.radius-3 {
  border-radius: 3px;
}

.radius-20 {
  border-radius: 20px;
}

.radius-10 {
  border-radius: 10px;
}

.radius-60 {
  border-radius: 60px;
}

.rounded-full {
  border-radius: 999px !important;
}

.o-hidden {
  overflow: hidden;
}

.h-40 {
  height: 40px;
}

.h-46 {
  height: 46px;
}

.h-52 {
  height: 52px;
}

.px_15 {
  padding-left: 15px;
  padding-right: 15px;
}

.tf-md-hidden {
  display: none;
}

.box-center {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.pt_0 {
  padding-top: 0px !important;
}

.pb_0 {
  padding-bottom: 0px !important;
}

.pr_0 {
  padding-right: 0px !important;
}

.py_15 {
  padding: 15px 0;
}

.py_20 {
  padding: 20px 0;
}

.pb_15 {
  padding-bottom: 15px;
}

.mt_5 {
  margin-top: 5px;
}

.mt_3 {
  margin-top: 3px;
}

.mt_140 {
  margin-top: 140px;
}

.mb_10 {
  margin-bottom: 10px;
}

.mb_15 {
  margin-bottom: 15px;
}

.mb_18 {
  margin-bottom: 18px;
}

.mb_20 {
  margin-bottom: 20px;
}

.mb_24 {
  margin-bottom: 24px;
}

.mb_30 {
  margin-bottom: 30px;
}

.mb_40 {
  margin-bottom: 40px;
}

.mb_36 {
  margin-bottom: 36px;
}

.mb_60 {
  margin-bottom: 60px;
}

.mb_200 {
  margin-bottom: 200px;
}

.flat-spacing-1 {
  padding: 70px 0;
}

.flat-spacing-2 {
  padding: 45px 0 70px;
}

.flat-spacing-3 {
  padding: 50px 0;
}

.flat-spacing-4 {
  padding-top: 55px;
  padding-bottom: 100px;
}

.flat-spacing-5 {
  padding: 76px 0px;
}

.flat-spacing-6 {
  padding: 45px 0px 100px;
}

.flat-spacing-7 {
  padding-bottom: 60px;
}

.flat-spacing-8 {
  padding-top: 35px;
  padding-bottom: 70px;
}

.flat-spacing-9 {
  padding: 65px 0px;
}

.flat-spacing-10 {
  padding: 55px 0px;
}

.flat-spacing-11 {
  padding-top: 80px;
  padding-bottom: 70px;
}

.flat-spacing-12 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.flat-spacing-13 {
  padding-top: 34px;
  padding-bottom: 40px;
}

.flat-spacing-14 {
  padding-top: 84px;
  padding-bottom: 60px;
}

.flat-spacing-15 {
  padding-top: 78px;
  padding-bottom: 100px;
}

.flat-spacing-16 {
  padding-top: 130px;
  padding-bottom: 65px;
}

.flat-spacing-17 {
  padding-top: 100px;
  padding-bottom: 80px;
}

.flat-spacing-18 {
  padding-top: 80px;
  padding-bottom: 100px;
}

.flat-spacing-19 {
  padding-top: 79px;
  padding-bottom: 91px;
}

.flat-spacing-20 {
  padding-top: 30px;
  padding-bottom: 33px;
}

.flat-spacing-21 {
  padding-top: 60px;
  padding-bottom: 100px;
}

.flat-spacing-22 {
  padding: 30px 0;
}

.flat-spacing-23 {
  padding-top: 100px;
  padding-bottom: 78px;
}

.flat-spacing-24 {
  padding-top: 109px;
  padding-bottom: 132px;
}

[data-grid=grid-1] {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
}

[data-grid=grid-2] {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}

[data-grid=grid-3] {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

[data-grid=grid-4] {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

[data-grid=grid-5] {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(5, 1fr);
}

[data-grid=grid-6] {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(6, 1fr);
}

.grid-template-columns-2 {
  grid-template-columns: 1fr 1fr;
}

.tf-row-flex {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  row-gap: 30px;
}

.tf-grid-layout {
  display: grid;
  gap: 15px;
}
.tf-grid-layout.tf-col-2 {
  grid-template-columns: 1fr 1fr;
}

.tf-grid-layout-v2 {
  display: grid;
  gap: 15px;
}

.tf-grid-layout-v3 {
  display: grid;
  gap: 30px;
  grid-template-areas: "item1 item1 item2 item3" "item4 item5 item6 item6";
}
.tf-grid-layout-v3 .item-1 {
  grid-area: item1;
}
.tf-grid-layout-v3 .item-2 {
  grid-area: item2;
}
.tf-grid-layout-v3 .item-3 {
  grid-area: item3;
}
.tf-grid-layout-v3 .item-4 {
  grid-area: item4;
}
.tf-grid-layout-v3 .item-5 {
  grid-area: item5;
}
.tf-grid-layout-v3 .item-6 {
  grid-area: item6;
}

.overflow-unset {
  overflow: unset !important;
}

.sticky-top {
  z-index: 50;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-auto {
  cursor: auto;
}

